*{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 5px;
  margin-left: 10px;

}
.franjaAmarilla{
  background-color: yellow;
  display: inline-block;
}
.franjaMagenta{
  background-color: #EE0AA9;
  border: solid .5px;
  border-color:black;
  display: inline-block;
}
